*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.item{
    height: 100vh;
    width: 100%;
}
.app{
    width: 100%;
    height: 100%;
}
.user{
    text-align: center;
    width: 100%;
    height: 62px;
    font-weight: bolder;
    font-size: 200%;
    color: rgb(120, 111, 111);
}
.user>span{
    position: relative;
    bottom: 5px;
}
.user>a>img{
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-top: 5px;
}
.main{
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
}
.item>span{
    font-weight: bolder;
    font-size: 300%;
    color: white;
}
.hamster{
    background-image: url('Hamster.png');
    border-radius: 100%;
    border: 5px blue inset;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin-top: 30px;
}
.cart>button{
    width: 45%;
    height: 30px;
    font-size: 150%;
    border-radius: 5px;
    border: none;
    margin: 5px;
    box-shadow: 0 0 3px grey;
}
.cart>span{
    color: chocolate;
    font-size: 180%;
    font-weight: bolder;
    margin-left: 50px;
    position: relative;
    right: 40px;
}
#cart1{
    margin-top: 50px;
}
.cart{
    margin-top: 55px;
}
#cart1>button{
    background-color: greenyellow;

}
#cart2>button{
    background-color: yellow;
}
#cart3>button{
    background-color: red;
    color: white;
}
.ThemeCon>button{
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    font-size: 30px;
}
#White{
    background: linear-gradient(to right,yellow,white);
    color: black;
}
#Black{
    background: linear-gradient(to right,blue,black);
    color: white;
}
.get{
    margin-top: 30px;
}
.get>span{
    color: chocolate;
    font-size: 200%;
    font-weight: bolder;
    margin-left: 50px;
    position: relative;
    right: 40px;
}
.get>input{
    width: 70%;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 3px;
    border: none;
    background: linear-gradient(to right, yellowgreen,red);
    color: gainsboro;
}
.get>input:focus{
    background: linear-gradient(to right,red, yellowgreen);
    color: white;
}
.get>button{
    width: 10%;
    height: 40px;
    position: relative;
    top: 2px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    font-weight: bolder;
    font-size: 30px;
    background-color: gold;
}
.nav{
    text-align: center;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
}
.userGET{
    display: flex;
    flex-flow: wrap column;
}
.userGET>input{
    width: 80%;
    margin-left: 10%;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 2vh;
    border: none;
    font-size: 180%;
    background: linear-gradient(to right, yellowgreen,red);
    color: gainsboro;
}
.userGET>input:focus{
    background: linear-gradient(to right,red, yellowgreen);
    color: white;
}
.submits>button{
    width: 40%;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 1vh;
    border: none;
    background-color: green;
    color: white;
    font-size: 140%;
    font-weight: bolder;
}
.info{
    margin-top: 50px;
}
.info>span{
    font-weight: bolder;
    font-size: 170%;
    color: white;
}
#readINFO{
    width: 80%;
    height: 5vh;
    margin-top: 5vh;
    border-radius: 1vh;
    border: none;
    font-size: 140%;
    font-weight: bolder;
    background: linear-gradient(to right,green,yellowgreen);
    color: yellow;
}
.icons{
    width: 100%;
    height: 100%;
}
.nav>button{
    width: 22%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 170%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(110, 110, 110, 0.7);
    box-shadow: 0 0 3px grey;
    color: white;
}
.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 40px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid black;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 290px;
    height: 40px;
    background: linear-gradient(to right,yellow,orange);
    color: black;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }